**/secret-remote-resources.xml
.env.secrets
node_modules
.classpath
.idea/
*.iml
.DS_Store
.metadata
.project
.settings
package-lock.json
.vscode
hs_err_**
target/
RemoteSystemsTempFiles/
.indexes/
build.js