/** DEV */
body::before {
	position: fixed;
	content: "screen-size: small";
	color: #aaa;
}

* {
	box-sizing: border-box;
}

/**
 * Header
 */
header {
	text-align: center;
	padding: 1em;
}

header h1 {

}

header h2 {
	font-size: 1.5em;
}

/**
 * Main search form
 */
#main-search-form {
	border: 1px solid #aaa;
	padding: 1em;
	text-align: center;
}

#main-search-form > * {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#main-search-form-text-input {
	max-width: 80%;
	width: 80%;
	text-align: center;
}

#main-search-form-submit-button {
	width: 10%;
	margin-left: 1%;
	text-align: center;
	font-family: FontAwesome;
	font-size: 0.8em;
	overflow: hidden;
}

.artist-search-results-container {
	display: flex;
}

.artists-search-results-container > h1 {
	text-align: center;
}

.artist-search-result {
	display: inline-block;
	width: 100vw;
	height: 100vw;
	border: 1px solid red;
	overflow: hidden;
}

.artist-search-result-image {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: -1;
}

.artist-search-result-overlay {
	position: absoulte;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0);
	z-index: 1000;
}

.artist-search-result-overlay:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,0.5);
	transition: background-color 0.5s, font-size 0.5s;
}

.artist-search-result-text {
	text-align: center;
	font-size: 3em;
	transform: translateY(-50%);
}
