@media screen and (min-width: 641px) {
/**
 * Main search form
 */
#main-search-form {}

#search-widgets-container {}

#main-search-form-text-input {
	width: 80%;
	max-width: 720px;
}

#main-search-form-submit-button {
	width: auto;
	margin-left: 10px;
}

}
