/** DEV */
body::before {
	position: fixed;
	content: "screen-size: small";
	color: #aaa;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

button {
	transform: translateY(-2px);
}

/**
 * Header
 */
header {
	text-align: center;
	padding: 1em;
}

header h2 {
	font-size: 1.5em;
}

/**
 * Main search form
 */
#main-search-form {
	display: block;
	margin: 0;
	border: 1px solid #aaa;
	padding: 1em;
	text-align: center;
}

#main-search-widgets-container {
	display: inline-block;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#main-search-form-text-input {
	width: 100%;
	text-align: center;
}

#main-search-form-submit-button {
	width: 100%;
	text-align: center;
	font-family: FontAwesome;
}


.main-viewer-component-wrap {
	width: 100vw;
	padding: 1em;
}

#artist-search-result-container {
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#artist-search-result-container h1 {
	font-size: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.artist-search-result-tile {
	position: relative;
	display: block;
}

.artist-search-result-tile .artist-name {
	position: relative;
	display: block;
	width: 100%;

	font-size: 3em;
}

.artist-search-result-tile .artist-image-wrap {
	position: relative;
	width: 320px;
	height: 320px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	overflow: hidden;
	background-color: #212121;
}

.artist-search-result-tile .artist-image {
	filter: grayscale(100%);
}

.artist-search-result-tile .artist-image-wrap:hover {
	cursor: pointer;
	filter: grayscale(100%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

.artist-search-result-tile .artist-image:hover {
	cursor: pointer;
	filter: grayscale(100%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

/**
 * Artist Info
 */
.artist-info-wrap {
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	width: 100%;
	max-width: 1280px;
	border: 1px solid #ccc;
}

.artist-info-wrap h1 {
	margin-top: 1em;
	margin-bottom: 2em;
}

.artist-info-wrap .artist-image-wrap {
	float: right;
	width: 320px;
	height: 320px;
	border-radius: 50%;
	overflow: hidden;
}

.artist-bio {}

.artist-bio p {
	margin-bottom: 1em;
	line-height: 2em;
	letter-spacing: 0.065em;
}
