/* =================================== */
/* BREAK POINTS
/* =================================== */

$break-medium: 640px;
$break-large: 980px;

/* =================================== */
/* COLORS
/* =================================== */

$color1: #FFFFFF;
$color2: #414141;
$color3: #2591DB;
$color4: #004290;
$color5: #0A56BD;

$light-grey: #ccc;
$medium-grey: #777;
$dark-grey: #424242;

/* =================================== */
/* DEFAULTS
/* =================================== */

* {
	box-sizing: border-box;
}

body {
	background-color: hsl(0, 100%, 100%);
}

ul {
	list-style-type: none;
}

button {

	&:hover {
        background-color: $color3;
        color: $color1;
        transition: background-color 0.1s;
	}
}

h1 {
	text-align: center;
}

/* =================================== */
/* UTILITY CLASSES
/* =================================== */

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.display-inline-block {
    display: inline-block;
}

.server-response-message {
    color: red;
    text-align: center;
}