/* ===================== */
/* ITEM TOOLS
/* ===================== */

.item-tools-nav-wrap {
    display: inline-block;
    margin-top: 1rem;
}

.item-tools-nav {
    display: block;

    ul {
        margin: 0;
        padding: 0;
        border: 0;
    }

    ul>li {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        border: 0;
    }
}

.tool-widget {
    position: relative;
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    width: auto;
    height: 10px;
    text-align: center;
}

.tool-button-form {
    display: inline-block;
    margin: 0;
    padding: 0px;
    border-radius: 50%;
    border: 0;
    text-align: center;
}

.tool-label {
    font-size: 11px;
    text-align: center;
}

.tool-button {
    display: inline-block;
    margin: 0;
    border: 0;
    border-radius: 50%;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;

    i {
        color: $color2;
    }

    &:hover {
        color: $color1;
        background-color: $color3;
        transition: background-color 0.1s;

        i {
            color: $color1;
        }
    }
}

.tool-dialog {
    position: absolute;
    display: block;
    top: -2rem; left: 2rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: -2px -2px 7px 0px hsla(0, 0%, 30%, 0.4);
    opacity: 0.95;
    border-radius: 5px;
    border: 1px solid $light-grey;
    z-index: 1000;

    h1 {
        display: block;
        margin: 0 0 10px 0;
        font-size: 2rem;
        color: $dark-grey;
    }

    h2 {
        display: block;
        font-size: 1.4rem;
        color: $medium-grey;
    }

    form {
        display: block;
        padding: 10px;
        margin: 0;
        padding: 0;
        line-height: 20px;
        min-width: 300px;

        fieldset {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        label {
            margin-left: 1.5rem;
            text-align: left;
            color: $dark-grey;
            font-weight: regular;
        }

        input, select {
            display: inline-block;
            width: 80%;
            height: 30px;
            margin-bottom: 0.5rem;
            background-color: white;
            color: $dark-grey;
            border: 1px solid $light-grey;

            &::placeholder {
                color: $dark-grey;
            }
        }

        option {
            padding: 1.5rem;
            font-size: 1.5rem;
            color: $dark-grey;
        }

        button {
            display: inline-block;
            height: 30px;
            margin-left: 0.5rem;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
            line-height: 100%;
            border: 0;
            border-radius: 50%;
        }

        .red-button {
            border-radius: 5px;
            background-color: red;
            color: white;

            &:hover {
                background-color: orange;
            }
        }
    }
}