/* ===================== */
/* ITEM TOOLS
/* ===================== */

.item-tools-nav-wrap {
    display: inline-block;
}

.item-tools-nav {
    display: block;

    ul {
        margin: 0;
        padding: 0;
        border: 0;
    }

    ul>li {
        display: inline-block;
        margin: 0;
        padding: 0;
        border: 0;
    }
}

.tool-widget {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    width: auto;
    height: 10px;
}

.tool-button-form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.tool-button {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
}

.tool-dialog {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    z-index: 100;
}