.like-button {

    button {
        display: inline-block;
        margin: 0;
        border: 0;
        border-radius: 50%;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1em;
    }
}