.user-search-viewer {
    margin-bottom: 5rem;
}

.user-list, .user-search-results {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.user-tile-wrap {
    display: block;
}

.user-tile {

    .user-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        line-height: 100%;
        vertical-align: middle;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0px 1px 0px 1px $light-grey;

        .icon-wrap {
            display: inline-block;
            padding: 0;
            margin: 0;
            line-height: 100%;
            vertical-align: middle;

            i {
                display: inline-block;
                padding: 0;
                margin: 0;
            }
        }

        .username {
            display: inline-block;
            color: $medium-grey;
            padding: 1rem;
        }

        .add-user-to-friends-form {
            display: inline-block;
            margin: 0;
            padding: 0;

            button {
                height: 30px;
                width: 30px;
                margin: 0;
                padding: 0;
                line-height: 100%;
                vertical-align: middle;
            }
        }
    }

    .server-response-message {
        display: block;
    }
}