@import 'globals';
@import 'viewer';
@import 'panel';
@import 'item-card';
@import 'authentication';
@import 'main-nav';
@import 'recommendations';
@import 'user-search';
@import 'item-tools';
@import 'like-button';
@import 'util';
@import 'artist-info';

/* ==================================================================================== */
/* COMPONENTS
/* ==================================================================================== */

/**
 * Header
 */
.main-header {
	text-align: center;
	padding: 1em;

	h2 {
    	font-size: 1.5em;
    }
}

.nav-container {
    line-height: 100%;
    vertical-align: middle;
    border: 1px solid red;
}

/**
 * Main search form
 */
#main-search-form {
	display: block;
	margin: 0;
	border: 1px solid #aaa;
	padding: 1em;
	text-align: center;
}

#main-search-widgets-container {
	display: inline-block;
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#main-search-form-text-input {
	width: 100%;
	text-align: center;

	@media screen and (min-width: $break-medium) {
        width: 80%;
        max-width: 720px;
	}
}

#main-search-form-submit-button {
	width: 100%;
	text-align: center;
	font-family: FontAwesome;

	@media screen and (min-width: $break-medium) {
        width: auto;
        margin-left: 10px;
	}
}

.main-viewer-component-wrap {
	width: 100vw;
}