/* =================================== */
/* UTILITY CLASSES
/* =================================== */

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.display-inline-block {
    display: inline-block;
}

.server-response-message {
    color: red;
    text-align: center;
}

.white {
    color: white;
}

.green {
    color: green;
}

.red {
    color: red;
}

.green-background {
    background-color: green;
}

.red-background {
    background-color: red;
}